<div class="row">
  <div class="span1">
    <img src="{{avatar_url}}" alt="" />
  </div>
  <div class="span4">
    <a href="http://github.com/{{login}}">{{login}}</a> - {{email}}<br />
    {{followers}} followers, {{following}} following
    {{#if bio}}
      <br />{{bio}}
    {{/if}}
    {{#if blog}}
      <br />
      <a href="{{blog}}">Blog</a>
    {{/if}}
  </div>
</div>
