<h1>All users</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Login</th>
      <th>Mail</th>
      <th>Location</th>
      <th>Bio</th>
      <th>Followers</th>
      <th>Following</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td><a href="http://github.com/{{login}}">{{login}}</a></td>
        <td>{{email}}</td>
        <td>{{location}}</td>
        <td>{{bio}}</td>
        <td>{{followers}}</td>
        <td>{{following}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
